/* Place CSS styles here */
body{
    background-color: #5A5F90;
}

.project-header{
    display: inline-block;
    background-color: rgb(140, 201, 255);
    padding: 5px 15px;
    border-radius: 100px;
    border: 1px rgb(53, 104, 149);
    margin-top: 20px;
    margin-left: 40px;
}

.hero{
    width: 100%
}

.navigation{
    font-family:Helvetica, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    display: flex;
    gap: 30px;
}

.section:hover{
    background-color: rgb(88, 144, 194);
    border-radius: 100px;
    
    
}


.title{
    text-align: center;
    font-family: "Badeen Display", Helvetica, Arial, sans-serif;
    color: rgb(140, 201, 255);
    font-size: 150px;
    background-image: url(../img/wave.jpg);
    padding-bottom: 200px;
    padding-top: 150px;
}


h1, h2, h3, h4{
    font-family: "Badeen Display", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: rgb(140, 201, 255);
    font-size: 90px;
    text-align: center;
    
} 

p{
    font-family: Impact, Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: rgb(140, 201, 255);
    font-size: 40px;
    text-align: center;
}

.new-release{
    list-style-position: inside;
    list-style: none;
    padding-left: 0
}

.new{
    margin-left: px;
    border: 5px solid rgb(140, 201, 255);
    max-width: 100%;
    height: auto;
    width: 30%
}

.order{
    display: flex;
    justify-content:flex-start;
}

.best{
    border: 5px solid rgb(140, 201, 255);
    width: 50%;
}

@media (max-width: 768px) {
    .best{
        margin-left: 30px;
    } 

    h1, h2, h3, h4{
        text-align: center;
        font-size: 70px;
    }

    .hero{
        max-width: auto;
        max-height: auto;
    }

    p{
        font-size: 125%;
    }

    .new{
        width: 60%
    }

    .cover{
      width: 400px
    }

    .chapter{
        padding-left: 20%;
    }

    .title{
        padding-left: 20%
    }

    .videos{
        padding-left: 20%;
    }

    .form{
        margin-left: 10%;
    }
}


.top-songs{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    list-style: none;
}

.best-order{
    flex: 1 1 300px;
    text-align: center;
}

form {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 20px;
    border: 5px solid rgb(140, 201, 255);
  }
  label {
    display: block;
    margin-bottom: 5px;
   }
  input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  button {
    background-color: rgb(140, 201, 255);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  .error {
    color: red;
}

.videos{
    text-align: center;
    list-style-position: inside;
    padding-bottom: 20px;
    list-style: none;
}

.cover{
    transition: 0.5s;
    border: 5px solid rgb(140, 201, 255);
    width: 60%;
}

.cover:hover{
    border: 5px solid rgb(9, 140, 255);
    transform: scale(1.1);
}
