/* Place CSS styles here */
body{
    background-color: #5A5F90;
}

footer {
    margin: 0;
}
.project-header{
    display: inline-block;
    padding: 5px 15px;
    margin-top: 20px;
    margin-left: 40px;
}

.hero{
    width: 100%
}

.offcanvas-nav {
    position: relative; /* To position the menu within */
  }

.menu {
    position: fixed; /* Fixed position for overlay effect */
    top: 0px;
    right: 0;
    height: 100%;
    width: 250px; /* Adjust width as needed */
    background-color: rgb(140, 201, 255);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    transform: translateX(100%); /* Initially slide out to the left */
    transition: transform 0.3s ease; /* Smooth transition */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    display: flex;
    gap: 20px;
  }


.title{
    text-align: center;
    font-family: "Badeen Display", Helvetica, Arial, sans-serif;
    color: rgb(140, 201, 255);
    font-size: 150px;
    padding-bottom: 200px;
    padding-top: 150px;
}

.wave-hero-image{
    background-image: url(../img/wave.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%

}

html {
    scroll-behavior: smooth;
}

.scroller{
    border-radius: 100px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -200px;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


h1, h2, h3, h4{
    font-family: "Badeen Display", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: rgb(140, 201, 255);
    font-size: 90px;
    text-align: center;
    
} 

p{
    font-family: Impact, Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: rgb(140, 201, 255);
    font-size: 40px;
    text-align: center;
}

.new-release{
    list-style-position: inside;
    list-style: none;
    padding-left: 0;
    gap: 100px
}

.new{
    margin-left: px;
    border: 5px solid rgb(140, 201, 255);
    max-width: 100%;
    height: auto;
    width: 30%
}

.order{
    display: flex;
    justify-content:flex-start;
}

.best{
    border: 5px solid rgb(140, 201, 255);
    width: 50%;
}



.top-songs{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    list-style: none;
}

.best-order{
    flex: 1 1 300px;
    text-align: center;
}

form {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 20px;
    border: 5px solid rgb(140, 201, 255);
  }
  label {
    display: block;
    margin-bottom: 5px;
    color: rgb(140, 201, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }
  input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  button {
    background-color: rgb(140, 201, 255);
    color: blue;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .error {
    color: red;
}

.videos{
    text-align: center;
    list-style-position: inside;
    padding-bottom: 20px;
    list-style: none;
}

.cover{
    transition: 0.5s;
    border: 5px solid rgb(140, 201, 255);
    width: 40%;
}

.cover:hover{
    border: 5px solid rgb(9, 140, 255);
    transform: scale(1.1);
}

footer{
    background-color:rgb(140, 201, 255);
    color: white;
    padding: 20px;
    text-align: center;
    max-width: 100%
}

@media (min-width: 768px) {

    .offcanvas-nav {
        display: block; /* Show the full navigation on larger screens */
      }
    .menu {
        display: block; /* Ensure menu is visible on larger screens */
        position: static; /* Remove fixed positioning */
        width: auto;
        transform: none; /* No need for transitions */
        box-shadow: none;
        display: flex;
        gap: 20px;
        border-radius: 100px
      }
    .menu-toggle {
        display: none; /* Hide the toggle button on larger screens */
      }

}

@media (max-width: 768px) {
    .best{
        margin-left: 30px;
    } 

    h1, h2, h3, h4{
        text-align: center;
        font-size: 70px;
    }

    .hero{
        max-width: auto;
        max-height: auto;
    }

    p{
        font-size: 125%;
        text-align: center;
    }

    .new{
        width: 60%;
        margin-left: 5%;
    }

    .cover{
      width: 300px
    }

    .chapter{
        padding-left: 20%;
    }

    .title{
        padding-left: 6%
    }

    form{
        align-items: center;
    }


    .wave-hero-image{
        background-image: url(../img/wave.jpg);
        top: 0;
        left: 0;
        width: 100vw;  /* Full viewport width */
        height: 100vh; /* Full viewport height */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 100%;

    }

    .menu {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }


    .menu.expanded {
    transform: translateX(0);
    background-color: rgb(140, 201, 255);
    }

    .menu-toggle {
        border-radius: 100px
    }

}